.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  gap: 15px;
  align-items: stretch;
  justify-content: center;
  margin: 15px;
}

.card {
  background: #000;
  padding: 30px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 40px 10px;
}

.imageContainer {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  