@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Sen, sans-serif;
}

$dark-mode: #1a1a1a;
$light-mode: #eeeeee;
$main: #ffb547;

$def-gap: 20px;

body {
  background-color: $dark-mode;
  color: $light-mode;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1360px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

h1 {
  font-size: 45px;
}
