.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 0;
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.icon {
  font-size: var(--fs-body);
}